* {
    font-family: 'Montserrat';
}

.user-admin-profile {
    flex: 4;
    padding: 20px;
    /* margin-left: 50rem; */
    width: 73%;
    margin-left: 25rem;
    margin-top: -35rem;
}

.user-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton {
    width: 80px;
    border: none;
    padding: 5px;
    background-color: #575989;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.user-container {
    display: flex;
    margin-top: 20px;
}

.user-show {
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0.75 ) ;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.user-update {
    flex: 2;
    padding: 20px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0.75 ) ;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.user-show-top {
    display: flex;
    align-items: center;
}

.img-show-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-show-title {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.show-username{
    font-weight: 600;
}

.show-title {
    font-weight: 300;
}

.user-show-bottom {
    margin-top: 20px;
}

.user-show-tittle-bottom {
    font-size: 14px;
    font-weight: 600;
    color: #575989;
}

.user-show-info {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: lightgray;
}

.user-show-icon {
    font-size: 20px !important;

}

.user-show-input-title {
    margin-left: 15px;
}

.userup-title {
    font-size: 24px;
    font-weight: 600;
}

.userUpdateForm {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.userUpdateTitle {
    font-weight: 600;
}

.userUpdateItem{
    display: flex;
    font-display: column;
    margin-top: 10px;
}

.userUpdateItem>label {
    margin-bottom: 5px;
    font-size: 17px;
    margin-right: 20px;
}

.userUpdateInputs {
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid #575989;
}

.formRightInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userupdate-upload {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 20px;
}

.userUpdateButton {
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: #575989;
}