.circulo {
    margin: 100px auto;
    width: 150px;
    height: 150px;
    position: relative;
  }
  .circulo .circulo-hijo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    /* top: 200px; */
  }
  .circulo .circulo-hijo:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #575989;
    border-radius: 100%;
    animation: circuloBounceDelay 1.2s infinite ease-in-out both;
  }
  .circulo .circulo2 {            
    transform: rotate(30deg); 
  }
  .circulo .circulo3 {            
    transform: rotate(60deg); 
  }
  .circulo .circulo4 {            
    transform: rotate(90deg); 
  }
  .circulo .circulo5 {
    transform: rotate(120deg); 
  }
  .circulo .circulo6 {
    transform: rotate(150deg); 
  }
  .circulo .circulo7 {
    transform: rotate(180deg); 
  }
  .circulo .circulo8 {
    transform: rotate(210deg); 
  }
  .circulo .circulo9 {
    transform: rotate(240deg); 
  }
  .circulo .circulo10 {
    transform: rotate(270deg); 
  }
  .circulo .circulo11 {
    transform: rotate(300deg); 
  }
  .circulo .circulo12 {
    transform: rotate(330deg); 
  }
  .circulo .circulo2:before {
    animation-delay: -1.1s; }
  .circulo .circulo3:before {   
    animation-delay: -1s; 
  }
  .circulo .circulo4:before {
    animation-delay: -0.9s; 
  }
  .circulo .circulo5:before {
    animation-delay: -0.8s; 
  }
  .circulo .circulo6:before {
    animation-delay: -0.7s; 
  }
  .circulo .circulo7:before {
    animation-delay: -0.6s; 
  }
  .circulo .circulo8:before {
    animation-delay: -0.5s; 
  }
  .circulo .circulo9:before {
    animation-delay: -0.4s; 
  }
  .circulo .circulo10:before {
    animation-delay: -0.3s; 
  }
  .circulo .circulo11:before {
    animation-delay: -0.2s; 
  }
  .circulo .circulo12:before {
    animation-delay: -0.1s; 
  }
  
  @keyframes circuloBounceDelay {
    0%, 80%, 100% {
              transform: scale(0);
    } 40% {
              transform: scale(1);
    }
  }