#features{
    width:100%;
    height:100vh;
    margin-top: 10rem;
    margin-bottom: 10rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px ;
}
.features-container{
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    align-content: center;

}
.a-box{
    width:300px;
    height: 450px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.a-b-img{
    width: 100%;
    height: 60%;

}
.a-b-img img{
    padding: 15px;
    width:100%;
    height: 100%;

}
.a-box:hover{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
}

.s-b-text{
    width: 100%;
    height: 40%;
    background-color:#ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Montserrat';
}


@media screen and (max-width: 960px){ 
    #features{
		height:auto;
        margin-top: 5rem;
    }
    .features-container{
		flex-wrap: wrap;
	}
    .a-b-img img {
        width: 90%;
    }

}
