.carousel-root {
    width: 70% !important;
    margin: auto 0 3rem 15rem !important;
    margin-top: 2rem !important;
    margin-bottom: 0rem;
}

  
.carousel .slide {
    background: #fff !important;
    color: transparent;
    height: 100%;
    margin-bottom: 3rem;
}
  
.carousel .slide img {
    width: 139px !important;
    border-radius: 50%;
}
  
.myCarousel {
    background: #f1faee;
    margin-top: -6%;
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 286px;
}
  
.carousel .control-dots {
    padding-left: 5px !important;
    outline: 0;
    bottom: 5% !important;
}
  
.myCarousel h3 {
    color: #000;
    font-weight: 100;
    letter-spacing: 0.2px;
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Montserrat';
}
  
.myCarousel h4 {
    text-transform: uppercase;
    margin-top: 0;
    padding-top: 0;
    font-weight: 500;
    color: #6b6a6a;
    font-size: 14px;
    font-family: 'Montserrat';
}
  
.myCarousel p {
    font-weight: 100 !important;
    line-height: 29px !important;
    color: #000;
    font-size: 15px;
    max-height: 67px;
    font-family: 'Arial';
}
  
.carousel .control-dots .dot {
    box-shadow: none !important;
    background: #575989 !important;
    outline: 0;
    margin-bottom: -1rem;
}
  
.carousel.carousel-slider .control-arrow {
    background: #575989 !important;
    border-radius: 3rem;
    height: 50px !important;
    position: absolute;
    top: 35% !important;
}
  
  @media only screen and (max-width: 934px) {
    .carousel-root {
      outline: 0;
      width: 93% !important;
      margin: auto 0 0 !important;
    }
  
    .carousel.carousel-slider .control-arrow {
      display: none !important;
    }
    .myCarousel {
      background: #f1faee;
      margin-top: -9%;
      width: 88%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 8%;
      padding-bottom: 12.5%;
      padding-left: 5%;
      padding-right: 5%;
      border: 1px solid #ddd;
      height: 269px;
    }
  
    .carousel .slide img {
      width: 24% !important;
      border-radius: 50%;
    }
  }